#cookie-consent {
    padding: 1.5rem 0 !important;
    border-radius: 0;
}

.fixed-top {
    background-color: var(--color-gray-200);
    color: var(--color-gray-800);
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px 1rem;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
