header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo hamburger";

        @include md {
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo switch hamburger";
        }

        @include xl {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav switch account";
        }

        .logo {
            grid-area: logo;
        }

        nav {
            grid-area: nav;
            display: none;
            padding-top: 100px;

            a {
                display: block;
                text-decoration: none;
                text-align: center;
                padding: 20px;
                font-weight: 700;
                color: var(--color-white);

                &:hover {
                    color: var(--color-theme);
                    text-decoration: underline;
                }

                @include xl {
                    padding: 0;
                    color: var(--color-gray-800);
                }
            }

            @include xl {
                display: flex;
                gap: 20px;
                padding-top: 0;
            }

            &.active {
                display: block;
                background-color: var(--color-gray-800);
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                z-index: 20;

                @include md {
                    width: 50%;
                    z-index: 20;
                }
            }
        }

        .theme-switch {
            grid-area: switch;
            display: none;

            @include md {
                display: block;
            }
        }

        .account-buttons {
            grid-area: account;
            display: none;
            gap: 16px;

            @include xl {
                display: flex;
            }

            &.active {
                display: flex;
                z-index: 100;
                position: fixed;
                top: 85%;
                left: 13%;

                @include sm {
                    top: 85%;
                    left: 25%;
                }

                @include md {
                    display: block;
                    top: 90%;
                    left: 61%;
                }
            }
        }

        .btn-menu {
            display: block;
            grid-area: hamburger;
            z-index: 20;

            @include xl {
                display: none;
            }

            &.active {
                z-index: 100;
                position: fixed;
                right: 40px;
            }
        }
    }

    .container.menu-active .theme-switch {
        display: none;
    }


    .profile {
        display: none;

        @include xl {
            display: flex;
            justify-content: center;
        }

        &.active {
            display: flex;
            z-index: 100;
            position: fixed;
            top: 85%;
            left: 43%;

            @include sm {
                top: 90%;
                left: 47%;
            }

            @include md {
                display: block;
                top: 90%;
                left: 73%;
            }
        }

        .image {
            position: relative;

            img {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                object-fit: cover;
                border: 1px solid var(--color-gray-400);
            }

            form {
                position: relative;

                label {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                }
            }
        }
    }
}




/*header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo hamburger";

        @include md {
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo switch hamburger";
        }

        @include xl {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav switch account";
        }

        .logo {
            grid-area: logo;
        }

        nav {
            grid-area: nav;
            display: none;
            padding-top: 100px;

            a {
                display: block;
                text-decoration: none;
                text-align: center;
                padding: 20px;
                font-weight: 700;
                color: var(--color-white);

                &:hover {
                    color: var(--color-theme);
                    text-decoration: underline;
                }

                @include xl {
                    padding: 0;
                    color: var(--color-gray-800);
                }
            }

            @include xl {
                display: flex;
                gap: 20px;
                padding-top: 0;
            }

            &.active {
                display: block;
                background-color: var(--color-gray-800);
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                z-index: 20;

                @include md {
                    width: 35%;
                    z-index: 20;
                }
            }
        }

        .theme-switch {
            grid-area: switch;
            display: none;

            @include md {
                display: block;
            }
        }

        .account-buttons {
            grid-area: account;
            display: none;
            gap: 16px;

            @include xl {
                display: flex;
            }

            &.active {
                display: block;
            }
        }

        .btn-menu {
            display: block;
            grid-area: hamburger;
            z-index: 20;

            @include xl {
                display: none;
            }
        }
    }



    .container.menu-active .theme-switch {
        display: none;
    }


    .profile {
        display: none;

        @include xl {
            display: flex;
            justify-content: center;
        }

        &.active {
            display: block;
        }



        .image {
            position: relative;

            img {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                object-fit: cover;
                border: 1px solid var(--color-gray-400);
            }

            form {
                position: relative;

                label {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                }
            }
        }
    }
}*/
