.manage-your-work {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 30px;

        @include md {
            grid-template-columns: 1fr;
        }

        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        .dashboard-image {
            z-index: -20;
            position: relative;
            width: 100%;
        }

        .content {

            @include md {
                align-content: center;
            }


            @include xl {
                margin: 90px 30px;
            }

            .section-title {
                h1 {
                    text-align: center;

                    @include lg {
                        text-align: left;
                        padding-left: 50px;
                    }

                    @include xl {
                        padding-left: 80px;
                    }
                }
            }

            .section-list {
                padding-bottom: 30px;



                @include xl {
                    padding-left: 40px;
                    padding-bottom: 30px;
                }

                .fa-regular {
                    color: var(--color-theme);
                    padding: 8px;
                }
            }

            .learn-more {
                text-align: center;
                margin: 0 50px;
                width: 80%;

                @include md {
                    text-align: left;
                    width: 27%;
                }

                @include lg {
                    text-align: left;
                    margin: 0 85px;
                    width: 45%;
                }

                .fa-sharp {
                    padding: 0 5px;
                }
            }
        }
    }
}
