<section>

    <div class="container-app">

        <div class="mobile-img">
            <img src="~/images/apps/mobile.svg" />
        </div>

       <div class="right-info">
            <div class="title">
                <h2>Download Our App for Any Devices:</h2>
            </div>

           <div class="stores">
                <div class="ratings">
                    <img src="~/images/apps/editorsChoice.svg" />
                    <img src="~/images/apps/appOfTheDay.svg" />
                </div>

                <div class="app-choice">
                    <a href="https://www.apple.com/se/app-store/">
                        <img src="~/images/apps/appstore.svg" />
                    </a>

                    <a href="https://play.google.com/store/games?device=windows&pli=1">
                        <img src="~/images/apps/googleplay.svg" />
                    </a>
                </div>
           </div>
       </div>
    </div>

</section>