<section>
    <div class="image-container">

        <div class="dark-theme"> 
            <h2>Switch Between &nbsp; <span> &nbsp; Light & Dark Mode</span></h2>
            <img class="computer" src="~/images/theme/mockup.svg" />
            <img class="arrow" src="~/images/theme/arrow1.svg" />
        </div>

        <div class="light-theme">
            <h2>Switch Between <span>Light & Dark Mode</span></h2>
            <img class="computer" src="~/images/theme/mockup.svg" />
            <img class="arrow" src="~/images/theme/arrow1.svg" />
        </div>

    </div>

</section>


